body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: large;
}

.prefix {
    display: inline-block;
    width: 5em;
    color: black;
}

p {
    color: grey;
}

.current-line {
    color: black;
    background-color: linen;
}

:not(.display) > .detail {
    visibility: hidden;
}
