<!DOCTYPE html>
<html>
<head>
    <link href="../src/lines.css" rel="stylesheet" />
    <script type="module" src="../src/lines.js"></script>
</head>
<body>
    {% for scene, lines in script %}
        {% set scene_loop = loop %}
        <h1>{{ scene }}</h1>
        {% for prefix, line in lines %}
            {% set id = hash(line) %}
            {% set class = 'current-line' if loop.first and scene_loop.first %}
            <p id="{{ id }}" class="{{ class }}">
                <span class="prefix">{{ prefix }}</span>
                {% for element in line -%}
                    {{ element[0] }}
                    {%- if element|length > 1 -%}
                        <span class="detail">{{ element[1:] }}</span>
                    {%- endif %}
                {%- endfor %}
            </p>
        {% endfor %}
    {% endfor %}
</body>
</html>
