body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: large;
}

.prefix {
    display: inline-block;
    width: 5em;
    color: black;
}

p {
    color: grey;
}

.annotation {
    float: right;
    visibility: visible;
    color: lightgrey;
    font-size: small;
}

.review-line {
    background-color: #fdfbf7;
}

.current-line {
    color: black;
    background-color: linen;
}

.element {
    visibility: hidden;
}

/* Included for completeness, so all lines have exactly one show- class */
.show-none {
}

.show-line-initials .element.first .initial {
    visibility: visible;
}

.show-word-initials .element .initial {
    visibility: visible;
}

.show-all .element {
    visibility: visible;
}
