<!DOCTYPE html>
<html>
<head>
    <link href="../src/lines.css" rel="stylesheet" />
    <script src="../src/lines.js"></script>
</head>
<body>
    {% for scene, lines in script %}
        <h1>{{ scene }}</h1>
        {% for prefix, line in lines -%}
            <p class="{{ 'current-line' if loop.first }}">
                <span class="prefix">{{ prefix }}</span>
                {% for element in line -%}
                    {{ element }}
                {%- endfor %}
            </p>
        {% endfor %}
    {% endfor %}
</body>
</html>
