<!DOCTYPE html>
<html>
<head>
    <link href="../src/lines.css" rel="stylesheet" />
    <script type="module" src="../src/lines.js"></script>
</head>
<body>
    {% for scene, lines in script %}
        {% set scene_loop = loop %}
        <h1>{{ scene }}</h1>
        {% for prefix, line in lines %}
            <p id="{{ hash(line) }}" class="show-word-initials">
                <span class="prefix">{{ prefix }}</span>
                {% for element in line -%}
                    <span class="element {{ 'first' if loop.first }}">
                        {%- for char in element -%}
                            <span class="{{ 'initial' if loop.first }}">{{ char }}</span>
                        {%- endfor -%}
                    </span>
                {%- endfor %}
            </p>
        {% endfor %}
    {% endfor %}
</body>
</html>
