body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: large;
}

.prefix {
    display: inline-block;
    width: 5em;
}

.current-line {
    font-weight: bolder;
}

:not(.display) > .detail {
    visibility: hidden;
}
